body { padding: 0; }

a { color: #0083b6; }

#t2 { background: #444; }

/* TOP NAV */

#gt-logo {
   padding: 5px 0 3px 0;
   display: block;
}

.navbar-fixed-top {
	border: 0;
}

.navbar-custom { margin-top: 28px; z-index: -1; }

.navbar-custom img, .navbar-custom h1 {
    opacity: 0;
}

.navbar-custom a {
    color: transparent;
    font-size: .75em;
}

.navbar-custom img {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

#secondary-nav .navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

#secondary-nav .top-nav-collapse {
    padding: 0;
    background-color: #0083b6;
    z-index: 1;
}

#secondary-nav h1 { 
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22.5px;
    text-transform: uppercase;
    color: #fff;
    line-height: 22.5px;
}

#secondary-nav .navbar-brand {
    padding-top: 15px; 
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    font-size: .75em;
    margin-left: 0;
    margin-right: 0;
}

.navbar-custom.top-nav-collapse img, .navbar-custom.top-nav-collapse h1 {
  opacity: 1;
}

.navbar-custom.top-nav-collapse a {
  color: #fff;
  font-size: 18.375px;
  font-family: "DINOffc", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-custom.top-nav-collapse {
    border-bottom: 0px solid rgba(255,255,255,.3);
}

.content-section {
    padding-top: 100px;
}

#cndls-nav nav.navbar { top: 28px; }

#subfooter {
    background-position: 100% 20%;
    background-repeat: no-repeat;
    background-color: #000;
    color: #666;
    padding: 4em 0;
}

#subfooter div.contact {
  border-left: .125em solid #666;
  margin: 0 1.25em;
}

#subfooter div.contact ul {
  padding-left: 0;
}

#subfooter a {
  color: #666;
  font-family: "DINOffcLight";
  line-height: 20px;
  font-size: 14px;
}

#subfooter .fa {
    color: #666;
    font-size: 14px;
}

.fa-ul {
  margin-left: 2.14285714em;
  list-style-type: none;
  }
