{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block secondary_nav %}
<div id="secondary-nav" class="inside-top">
  <nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button> -->
        <a class="navbar-brand" href="{{ url_for('index') }}"><h1>The Teaching Commons</h1></a>
        
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-left navbar-main-collapse nav navbar-nav">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Designing a Course</a>
              <ul class="dropdown-menu">
                  {% for p in design_page_list %}
                      <li class="nav-item{% if page.title == p.title %} active{% endif %}"><a href="{{ url_for('page', path=p.path) }}">{{ p.title }}</a></li>
                  {% endfor %}
              </ul>
          </li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Teaching a Course</a>
              <ul class="dropdown-menu">
                  {% for p in teach_page_list %}
                      <li class="nav-item{% if page.title == p.title %} active{% endif %}"><a href="{{ url_for('page', path=p.path) }}">{{ p.title }}</a></li>
                  {% endfor %}
              </ul>
          </li>
        </ul>
        <!-- THE BELOW IS COMMENTED OUT—PLAN ON REMOVING THIS MENU
        AND REPLACING WITH A PLAIN HEADER -->
        <!-- <ul class="nav navbar-nav"> -->
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <!-- <li class="hidden">
            <a href="#page-top"></a>
          </li>
{#
          <li class="page-scroll">
            <a href="{{ url_for('page', path='teach') }}">Teaching Guide</a>
          </li>
          <li class="page-scroll">
            <a href="{{ url_for('page', path='resources') }}">Useful Resources</a>
          </li>
          <li class="page-scroll">
            <a href="{{ url_for('page', path='stories') }}">Faculty Stories</a>
          </li>
          <li class="page-scroll">
            <a href="{{ url_for('page', path='cndls') }}">Working with CNDLS</a>
          </li>
#}
        </ul> -->
      </div>
    </div>
      <!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</div>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">


    <nav class="col-md-3" id="handbook-nav" role="navigation">
      <ul class="list-unstyled teaching-nav" data-spy="affix" data-offset-top="50" data-offset-bottom="750"> <!-- data-offset-bottom="750" -->
      <div class="col-sm-4 col-md-12">
        <li class="nav-header"><a href="https://cndls.georgetown.edu/newfaculty/">New Faculty FAQs</a>
            <ul class="list-unstyled teaching-nav">
                <li class="nav-item small">Student Interaction</li>
                <li class="nav-item small">Course Logistics</li>
                <li class="nav-item small">University Policy</li>
                <li class="nav-item small">Teacher Development</li>
                <li class="nav-item small">Other Information</li>
            </ul>
        </li>
        <li class="nav-header"><a href="{{ url_for('page', path='glossary') }}">Teaching Terms</a>
            <ul class="list-unstyled teaching-nav">
                <li class="nav-item small">Active Learning</li>
                <li class="nav-item small">Backward Design</li>
                <li class="nav-item small">Cognitive Apprenticeship</li>
                <li class="nav-item small">Community of practice</li>
                <li class="nav-item small">Community-based learning</li>
                <li class="nav-item small">&hellip;</li>
            </ul>
        </li>
        <li class="nav-item">
        <div class="btn-group">
          <a href="{{ url_for('page', path='glossary') }}#a" class="btn btn-default btn-xs">A-F</a>
          <a href="{{ url_for('page', path='glossary') }}#g" class="btn btn-default btn-xs">G-L</a>
          <a href="{{ url_for('page', path='glossary') }}#m" class="btn btn-default btn-xs">M-R</a>
          <a href="{{ url_for('page', path='glossary') }}#s" class="btn btn-default btn-xs">S-Z</a></div></li>
      </div>
      </ul>
    </nav><!-- /.col -->

    <div class="col-md-9 article-wrap">
{% block page %}{% endblock %}

    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->

{% endblock %}